global
        log /var/log/haproxy.log local0
        daemon
        maxconn 256

defaults
        log     global
        option  dontlognull
        option  httplog
        timeout queue 1m
        timeout connect 10s
        timeout client 1m
        timeout server 1m
        timeout check 10s
        maxconn 3000
        mode    http

userlist valid-users
        user ${AUTH_USERNAME} password ${AUTH_PASSWORD}

frontend proxy
        bind *:80
        acl valid_users http_auth(valid-users)
        http-request auth realm Authorized if !valid_users
        acl valid_methods method GET HEAD
        http-request deny if ! valid_methods
        http-request deny if { path /index.html }
        acl api_v1 hdr_end(host) -i apiv1.haproxy.local
        use_backend servers-v1 if api_v1
        acl api_v2 hdr_end(host) -i apiv2.haproxy.local
        use_backend servers-v2 if api_v2
        acl api_v3 hdr_end(host) -i apiv3.haproxy.local
        use_backend servers-v3 if api_v3
        default_backend servers-all

backend servers-all
        balance roundrobin
        option tcp-check
        server apiv1 172.200.10.3:9000 check fall 3 rise 2
        server apiv2 172.200.10.4:9000 check fall 3 rise 2
        server apiv3 172.200.10.5:9000 check fall 3 rise 2

backend servers-v1
        balance roundrobin
        option tcp-check
        server apiv1 172.200.10.3:9000 check fall 3 rise 2

backend servers-v2
        balance roundrobin
        option tcp-check
        server apiv2 172.200.10.4:9000 check fall 3 rise 2

backend servers-v3
        balance roundrobin
        option tcp-check
        server apiv3 172.200.10.5:9000 check fall 3 rise 2
